<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <bean id="personIdSequencerImpl" class="se.lexicon.dao.sequencers.PersonIdSequencerImpl" />
    <bean id="todoItemIdSequencerImpl" class="se.lexicon.dao.sequencers.TodoItemIdSequencerImpl" />
    <bean id="userCredentialsIdSequencerImpl" class="se.lexicon.dao.sequencers.UserCredentialsIdSequencerImpl" />
    <bean id="personDAOCollectionImpl" class="se.lexicon.dao.PersonDAOCollectionImpl"  />
    <bean id="todoItemDAOCollectionImpl" class="se.lexicon.dao.TodoItemDAOCollectionImpl"/>
    <bean id="userCredentialsDAOCollectionImpl" class="se.lexicon.dao.UserCredentialsDAOCollectionImpl"/>

    <!-- Setter injections -->
    <bean id="personFactoryServiceImpl" class="se.lexicon.service.factory.PersonFactoryServiceImpl">
        <property name="userCredentialsFactoryService" ref="userCredentialsFactoryServiceImpl" />
        <property name="todoItemFactoryService" ref="todoItemFactoryServiceImpl" />
    </bean>

    <bean id="userCredentialsFactoryServiceImpl" class="se.lexicon.service.factory.UserDetailsFactoryServiceImpl">
        <property name="personFactoryService" ref="personFactoryServiceImpl" />
    </bean>

    <bean id="todoItemFactoryServiceImpl" class="se.lexicon.service.factory.TodoItemFactoryServiceImpl">
        <property name="personFactoryService" ref="personFactoryServiceImpl" />
    </bean>

    <!-- Constructor injections -->
    <bean id="personServiceImpl" class="se.lexicon.service.implementation.PersonServiceImpl">
        <constructor-arg ref="personDAOCollectionImpl" />
        <constructor-arg ref="personIdSequencerImpl" />
        <constructor-arg ref="personFactoryServiceImpl" />
        <constructor-arg ref="userCredentialsServiceImpl" />
    </bean>

    <bean id="userCredentialsServiceImpl" class="se.lexicon.service.implementation.UserCredentialsServiceImpl">
        <constructor-arg ref="userCredentialsDAOCollectionImpl" />
        <constructor-arg ref="userCredentialsIdSequencerImpl" />
        <constructor-arg ref="userCredentialsFactoryServiceImpl"/>
    </bean>

    <bean id="todoItemServiceImpl" class="se.lexicon.service.implementation.TodoItemServiceImpl">
        <constructor-arg ref="userCredentialsDAOCollectionImpl" />
        <constructor-arg ref="personDAOCollectionImpl" />
        <constructor-arg ref="todoItemDAOCollectionImpl" />
        <constructor-arg ref="todoItemFactoryServiceImpl" />
        <constructor-arg ref="todoItemIdSequencerImpl" />
    </bean>
</beans>